<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.marklauman.dominionpicker"
    android:versionCode="8"
    android:versionName="1.4.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="ca.marklauman.dominionpicker.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        	<meta-data android:name="android.support.UI_OPTIONS"
        	    android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="ca.marklauman.dominionpicker.settings.SettingsActivity"
            android:label="@string/settings">
            <meta-data android:name="android.support.UI_OPTIONS"
        	    android:value="splitActionBarWhenNarrow" />
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="ca.marklauman.dominionpicker.SettingsActivity" />
        </activity>
        
        <activity
            android:name="ca.marklauman.dominionpicker.SupplyActivity"
            android:label="@string/picks">
            <meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="ca.marklauman.dominionpicker.MainActivity" />
        </activity>
        
        <activity
            android:name="ca.marklauman.dominionpicker.MarketActivity"
            android:label="@string/market_title" />
        
        <provider
            android:name="ca.marklauman.dominionpicker.CardList"
            android:authorities="ca.marklauman.dominionpicker"
            android:enabled="true"
            android:exported="false" />
            
    </application>
</manifest>