<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.marklauman.dominionpicker"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="1.7.0" >

    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:ignore="UnusedAttribute" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".settings.ActivitySettings"
            android:label="@string/settings" />
        
        <activity android:name=".ActivitySupply"
            android:label="@string/picks" />
        
        <activity android:name=".ActivityMarket"
            android:label="@string/market_title" />
        
        <provider android:name=".CardList"
            android:authorities="ca.marklauman.dominionpicker"
            android:enabled="true"
            android:exported="false" />
            
    </application>
</manifest>