<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.marklauman.dominionpicker"
    android:installLocation="auto" >

    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        tools:ignore="UnusedAttribute" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ActivitySupply"
            android:label="@string/picks" />
        
        <activity android:name=".ActivityMarket"
            android:label="@string/market_title" />

        <activity android:name=".settings.ActivityFilters"
            android:label="@string/filters" />

        <activity android:name=".settings.ActivityOptions"
            android:label="@string/options" />

        <activity android:name=".settings.CardLanguageSelector"
            android:label="@string/filt_lang" />

        <activity android:name="ca.marklauman.tools.SingleItemSelector" />

        <activity android:name=".settings.ActivityCardSort"
            android:label="@string/sort_card" />
        
        <provider android:name=".database.Provider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false" />
            
    </application>
</manifest>